@model IlisuHiltopHeaven.Presentation.Areas.Admin.Models.BannerViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Banner";
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="admin" asp-controller="home" asp-action="index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="admin" asp-controller="statics" asp-action="bannersettings">Banner</a></li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Banner
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="bannerTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlıq</th>
                        <th>Dil</th>
                        <th>Şəkil 1</th>
                        <th>Əməliyyatlar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Başlıq</th>
                        <th>Dil</th>
                        <th>Şəkil 1</th>
                        <th>Əməliyyatlar</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var banner in Model.Banners)
                    {
                        <tr name="@banner.Id">
                            <td>@banner.Id</td>
                            <td>@banner.Title</td>
                            <td>@banner.Language.LanguageCode</td>
                            <td><img src="~/img/@banner.ImageOne" class="my-image-table" /></td>
                            <td>
                                <a asp-area="admin" asp-controller="statics" asp-action="updatebannersetting" asp-route-bannerId="@banner.Id" class="btn btn-primary btn-sm btn-update" data-id="@banner.Id"><span class="fas fa-edit"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            const dataTable = $('#bannerTable').DataTable({});
        });
    </script>
}
@section Styles{

}