@model IlisuHiltopHeaven.Presentation.Areas.Admin.Models.SellConditionViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Satış Şərtləri";
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="admin" asp-controller="home" asp-action="index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="admin" asp-controller="statics" asp-action="sellconditionsettings">Satış Şərtləri</a></li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Satış Şərtləri
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="sellConditionTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlıq</th>
                        <th>Dil</th>
                        <th>Əməliyyatlar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Başlıq</th>
                        <th>Dil</th>
                        <th>Əməliyyatlar</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var sellCondition in Model.SellConditions)
                    {
                        <tr name="@sellCondition.Id">
                            <td>@sellCondition.Id</td>
                            <td>@sellCondition.Title</td>
                            <td>@sellCondition.Language.LanguageCode</td>
                            <td>
                                <a asp-area="admin" asp-controller="statics" asp-action="updatesellconditionsetting" asp-route-sellconditionId="@sellCondition.Id" class="btn btn-primary btn-sm btn-update" data-id="@sellCondition.Id"><span class="fas fa-edit"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            const dataTable = $('#sellConditionTable').DataTable({});
        });
    </script>
}
@section Styles{

}